<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link
      rel="icon"
      href="/assets/images/neural-16px-Becris-flaticon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/sorting.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="/assets/images/neural-24px-Becris-flaticon.png" alt="Logo" />
        <span>Algorithm Visualizer</span>
      </div>
      <div class="navbar-buttons">
        <a
          href="https://www.geeksforgeeks.org/sorting-algorithms/"
          target="_blank"
        >
          <button class="btn"><i class="fas fa-random"></i> Learn More</button>
        </a>
      </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero">
      <h1>Welcome to the Algorithms Visualizer</h1>
      <p>Explore sorting and searching algorithms with interactive visualizations.</p>
      <div class="hero-buttons">
        <a href="/sorting">
          <button class="btn">Go to Sorting Visualizer</button>
        </a>
        <a href="/search">
          <button class="btn">Go to Search Visualizer</button>
        </a>
      </div>
    </div>

    <!-- Add any necessary script -->
    <!-- <script src="/js/landing.js"></script> -->
  </body>
</html>
